<html>
    <head>
        <title>Template</title>

    </head>
    <body>
        <h1>Welcome to my world!</h1>
        <h3>Fill your details here!</h3>
        <form action="/rmvslash" method="get">
            First Name : <input type ="text" name = 'fname'><br><br>
            Last Name : <input type="text" name = 'lname'><br><br>
            Address : &nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="address"><br><br>
            Username : <input type="text" name="username"><br><br>
            Password : &nbsp;<input type="password" name="password"><br><br>
            <button type="submit">Submit</button>
            <button type="reset">Reset</button>
            </form>
    <body>
</html>